<nav class="navbar navbar-expand-lg bg-blue container-fluid">
    <div class="container-fluid">
        <a class="navbar-brand title-navbar" href="#">MOULIN Jordan</a>
        <ul class="d-flex mb-0 menu-navbar">
            <li>
                <a class="nav-link" href="#">
                    Accueil
                </a>
            </li>
            <li>
                <a class="nav-link" href="#project">
                    Projets
                </a>
            </li>
            <li>
                <a class="nav-link" href="#maquette">
                    Maquettage
                </a>
            </li>
            
        </ul>
    </div>
</nav>