/*
Charte graphique :
#575d90
#5e66b0
#e8f1fc
*/
body {
  margin: 0;
  padding: 0;
}

/*navbar*/
.bg-blue {
  background-color: #575d90;
}
nav {
  height: 10vh;
  color: white;
  transition: all 0.2s smooth;
}
h1 {
  font-size: 7.5em;
}
h2 {
  font-size: 4em;
}
h1,
h2 {
  color: white;
}
h4 {
  text-align: center;
  width: 100%;
}
li {
  list-style-type: none;
}
.nav-link,
.navbar-brand {
  color: white;
}
.navbar-brand.title-navbar{
  font-size: 2em;
  font-weight:600;
}
.navbar-brand.title-navbar:hover{
  color: white;
}
.nav-link:hover,
.nav-link:focus,
.navbar-brand:hover {
  color: #b9c0c9;
}
.dropdown-menu-blue {
  background-color: #575d90;
}
.dropdown-item {
  color: white;
}
nav .dropdown-menu[data-bs-popper] {
  left: -10%;
}